<!DOCTYPE html>
<!-- this includes the head partial html file to load here, so you dont duplicate code all over the place -->
<!--  the - from ejs renders any html in the document, the = sign does not -->
<head>
  <%- include('partials/head')%>
</head>
<html lang="en">
  <body>
    <%- include('partials/navbar')%>

    <div id="randomSquares"></div>
    <!-- <article class="articleOne"></article>
    <article class="articleTwo"></article>
    <article class="articleThree"></article>
    <article class="articleFour"></article> -->
    <script src="/js/home.js"></script>
  </body>
</html>
