<!DOCTYPE html>
<head>
  <%- include('partials/head')%>
</head>

<html lang="en">
  <body>
    <%- include('partials/navbar')%>
    <h1>Grand Marais / Duluth</h1>
    <div>
      <img src="pics/beachPano.jpeg" alt="beachPano" class="panoramic" />
    </div>
    <div>
      <img src="pics/duluthPano.jpeg" alt="duluthPano" class="panoramic" />
    </div>
    <img class="picPageImg" src="pics/downhillLake.jpeg" alt="downhillLake" />
    <img class="picPageImg" src="pics/landbridge.jpeg" alt="landbridge" />
    <img class="picPageImg" src="pics/downtown.jpeg" alt="downtown" />
    <img class="picPageImg" src="pics/cemetaryTree.jpeg" alt="cemetaryTree" />
    <img class="picPageImg" src="pics/curvyTree.jpeg" alt="curvyTree" />
    <img class="picPageImg" src="pics/treePassage.jpeg" alt="treePassage" />
    <img class="picPageImg" src="pics/downhillTrees.jpeg" alt="downhillTrees" />
    <img class="picPageImg" src="pics/forrestHouse.jpeg" alt="forrestHouse" />
    <img
      class="picPageImg"
      src="pics/drivingMountainView.jpeg"
      alt="drivingMountainView"
    />
    <img class="picPageImg" src="pics/waterView.jpeg" alt="waterView" />
    <img
      class="picPageImg"
      src="pics/duluthStreetHill.jpeg"
      alt="duluthStreetHill"
    />
    <img class="picPageImg" src="pics/alcove.jpeg" alt="alcove" />
  </body>
  <script src="script.js"></script>
</html>
