<!DOCTYPE html>
<head>
  <%- include('partials/head')%>
  <link rel="stylesheet" href="/css/picPage.css" />
</head>

<html lang="en">
  <body>
    <%- include('partials/navbar')%>

    <h1>Grand Marais / Duluth</h1>

    <div>
      <img
        src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954787/picPage/duluthPano_u4nh4t.jpg"
        alt="duluthPano"
        class="panoramic"
      />
    </div>
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954754/picPage/downhillLake_e08dmm.jpg"
      alt="downhillLake"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954758/picPage/landbridge_qbkwda.jpg"
      alt="landbridge"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954750/picPage/downtown_exllvk.jpg"
      alt="downtown"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954771/picPage/cemetaryTree_btmydg.jpg"
      alt="cemetaryTree"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954780/picPage/curvyTree_xkzgy1.jpg"
      alt="curvyTree"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954775/picPage/treePassage_gapjlf.jpg"
      alt="treePassage"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954770/picPage/downhillTrees_oeunmt.jpg"
      alt="downhillTrees"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954782/picPage/forrestHouse_pfypqd.jpg"
      alt="forrestHouse"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954754/picPage/drivingMountainView_u9zr1v.jpg"
      alt="drivingMountainView"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954765/picPage/waterView_g4ncz7.jpg"
      alt="waterView"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954749/picPage/duluthStreetHill_zkwgik.jpg"
      alt="duluthStreetHill"
    />
    <img
      class="picPageImg"
      src="https://res.cloudinary.com/dijsqclbt/image/upload/v1674954760/picPage/alcove_vfi5nz.jpg"
      alt="alcove"
    />
  </body>
  <script src="../public/js/picPage.js"></script>
</html>
