<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head')%>
    <link rel="stylesheet" href="/css/projects.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar')%>
    <section class="projectList">
      <div class="singleProject">
        <h3>YelpCamp</h3>
        <a
          href="https://yelp-camp-web-dev-course-5hz0pqnsm-pseudovamp.vercel.app/"
          target="”_blank”"
          ><img
            class="thumbnail"
            src="/pics/yelpcampThumbnail.png"
            alt="YelpCampThumbnail"
          />
        </a>
        <p>
          This is a project I made while going through Colt Steele's course on
          Udemy.
        </p>
      </div>
      <div class="singleProject">
        <h3>Survival text game</h3>
        <a href="/survival" target="”_blank”"
          ><img
            class="thumbnail"
            src="/pics/survivalGameThumbnail.png"
            alt="YelpCampThumbnail"
          />
        </a>
        <p>A text based adventure game I created to practice javascript.</p>
      </div>
      <div class="singleProject">
        <h3>Kill All Zombies!</h3>
        <a href="https://pseudovamp.itch.io/kill-all-zombies" target="”_blank”"
          ><img
            class="thumbnail"
            src="/pics/zombieThumbnail.png"
            alt="kill-all-zombies-game"
          />
        </a>
        <p>A game made in the Godot engine using GDScript.</p>
      </div>
      <div class="singleProject">
        <h3>More Soon!</h3>
        <!-- <a href=""><img class="thumbnail" src="" alt="" /> </a> -->
        <p>Currently working on a few other to display here soon.</p>
      </div>
    </section>
  </body>
</html>
