*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  height: 200vh;
}

section {
  height: 90vh;
  width: 100vw;
  padding: 0px 20vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#randomSquares {
}
.allSquares {
  background-color: red;
  position: absolute;
  z-index: 0;
  border-radius: 10%;
  transition: right 0.5s ease-in-out, top 0.5s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-shadow: 1px 1px 2px var(--bg-white);
  font-size: 2em;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  top: 45vh;
  left: 40vw;
}
#name {
  font-size: 1.2em;
  font-weight: var(--text-lg);
}

#firstSection {
}
#secondSection {
  background-color: var(--bg-nav);
  display: flex;
  flex-direction: column;
}

/* hidden elements below */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#icons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
#icons img {
  margin-left: 10px;
  max-width: 96px;
  max-height: 96px;
}

#icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconText {
  font-weight: var(--text-sm);
}

.curve1 {
  margin-bottom: -1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curve1 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 100px;
}

.curve1 .shape-fill {
  fill: var(--bg-nav);
}

.curve2 {
  margin-top: -1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve2 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 100px;
}

.curve2 .shape-fill {
  fill: var(--bg-nav);
}
