/* curve maker site https://www.shapedivider.app/ */
/* color generator site https://coolors.co/ */
/* icons grabbed from https://icons8.com/ */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-nav: #4d5061;
  --bg-white: #fef9ef;
  --bg-0: #ffbe0b;
  --bg-1: #fb5607;
  --bg-2: #ff006e;
  --bg-3: #8338ec;
  --bg-4: #3a86ff;
  --bg-5: #06d6a0;

  --light-text: #fff;
  --dark-text: #000;
  --text-main: "Rubik", sans-serif;
  --text-sm: 300;
  --text-md: 500;
  --text-lg: 700;
  --text-xlg: 900;
}

body {
  background-color: var(--bg-white);
  font-family: var(--text-main);
  font-weight: var(--text-md);
  color: var(--dark-text);
  overflow-x: hidden;
}

nav {
  background-color: var(--bg-nav);
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  padding: 18px;
  width: 100vw;
  position: relative;
  z-index: 1;
}

nav a {
  color: var(--light-text);
  font-weight: var(--text-md);
  text-decoration: none;

  box-shadow: inset 0 0 0 0 white;
  transition: all 0.4s ease-in-out 0s;
}

nav a:hover {
  color: #ccc;
  box-shadow: inset 300px 0 0 0 white;
  color: #000;
}

@media screen and (max-width: 700px) {
  nav {
    font-size: 12px;
  }
}
